@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
  
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    display: inline;
}

footer {
    padding: 20px;
    color: white;
    background-color: #8923A8;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

nav a:hover {
    font-weight: bold;
}

section {
    padding: 50px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
  }

#banner {
    position: relative;
    z-index: -1;
}

#banner .img-banner-background {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
    
}

header .container {
    display: flex;
}

.logo {
    height: 50px;
    flex-basis: 15%;
    padding: 5px 0 0 10px;
}

.logo-brand {
    color: #8923A8;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.28);
    
}

.navbar {
    width: 100%;
    height: 70px;
    flex-basis: 70%;
    text-align: center;
}

/* #home {
    background-image: url(img/background.svg);
}
 */

/* #home .container {
    display: flex;
    background-color: transparent;
} */

.left{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-left: 10%;
    justify-content: center;
    color: white;
}

.h1-home {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.p-home {
    margin-top: 20px;
}


.btn-bar {
    margin-top: 40px;
}

.btn {
	font-weight: bold;
    padding: 10px 30px;
    min-width: 140px;
    background-color: #8BC34A;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

.btn:not(:hover) {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.28);
}

.btn:hover {
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.35);
    font-weight: bold;
}

.btn + .btn {
    margin-left: 15px;
}

.right {
    flex-basis: 60%;
}

.img-hero {
    width: 100%;
    height: 500px;
}

/* .no-hover{
    pointer-events: none;
} */

#about{
    display: flex;
    justify-content: center;
}

.effect-bg {
    background: url(img/home-about-texture.svg) no-repeat right center;
  } 

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 70px;
}

.line {
    border: 1px solid rgb(59, 59, 59);
    height: 2px;
    width: 120px;
}

.about-card {
    display: flex;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-icon {
    height: 30px;
    width: 100%;
}

.box     {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    width: 100%;
    justify-content: center;
}

.gray-bg {
    background: #f7f7fc;
}



.urai-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 10%;
    justify-content: center;
}

.urai-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
}

.sampah-urai {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

#environtment-heroes .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-environtment {
    display: flex;
    flex-basis: 50%;
    padding: 0 10px 0 70px;
}

.right-environtment {
    display: flex;
    flex-basis: 50%;
    padding: 0 70px 0 10px;
}

.card-environtment {
    display: flex;
    align-items: center;
    height: 180px;
    margin: 10px 0;
}

.card-environtment .row img{
    display: flex;
    flex-basis: 30%;
    width: auto;
    height: 100px;
    
}

.card-environtment .row .column{
    margin-left: 20px;
}


.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 70px;
}

.profile-photo {
    width: auto;
    height: 200px;
    border-radius: 50%;
}

.team a {
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
}

.footer img {
    width: 20px;
    height: 20px;
}

.footer-item {
    flex-basis: 33%;
    padding: 20px 50px;
    text-align: justify;
}

.footer-item .row {
    padding-top: 20px;
}

.footer-item .row p{
    padding-left: 10px;
}

.footer-item .container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item .content {
    width: 360px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
}

.footer-item .subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer-item .subscription .add-email{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.footer-item .subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: #4ABEBB;
    color: #FFFFFF;
    transition: width .35s ease-in-out,
      background .35s ease-in-out;
}

.footer-item .subscription.done .submit-email {
    width: calc(100% - 2px);
    background: #C0E02E;
}

.footer-item .subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;
}

.footer-item .subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

.footer-item .subscription .submit-email .after-submit {
    transition-delay: .35s;
}

.footer-item .subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}

.j-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.d-flex-grow1 {
    flex-grow: 1;
}

.ai-center {
    align-items: center;
}

.bc-red {
    background-color: red;
}

.big-text {
    font-weight: bold;
    font-size: 40px;
}

.big-paragraph {
    font-weight: bold;
    font-size: 17px;
}

.margin-5px {
    margin: 5px;
}

.margin-7px {
    margin: 7px;
}

.margin-8px {
    margin: 8px;
}

.margin-20px {
    margin: 20px;
}

.padding-10px {
    padding: 10px;
}

.padding-15px {
    padding: 15px;
}

.p-50px {
    padding: 50px;
}

.fw-bold {
    font-weight: bold;
}

@media screen and (max-width: 1000px){

    body {
        margin: 0;
        padding: 0;
    }

    nav {
        visibility: hidden;
    }

    .logo {
        flex-basis: 100%;
        padding: 5px;
    }

    #banner .img-banner-background {
        width: 100%;
        height: 100vh;
    }

    #home .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #home .container .left{
        display: flex;
        padding: 10px;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    #home .container .right{
        display: flex;
        width: auto;
        height: auto;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }

    .img-hero {
        width: 100%;
        height: 300px;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    .about {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .about-card {
        display: flex;
        padding: 10px 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about .container .row .column .about h3, h2, div, p {
        margin: 0;
        padding: 0;
        /* background-color: #4ABEBB; */
    }

    #about .container .row .column .row {
        display: flex;
        flex-direction: column;
    }

    #uraian {
        display: flex;
        flex-direction: column;
    }

    #uraian .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #uraian .container .urai-left {
        padding: 50PX;
        margin: 0;
    }

    #uraian .container .urai-right {
        padding: 0;
        margin: 0;
    }

    #environtment-heroes {
        display: flex;
        flex-direction: column;
    }

    #environtment-heroes .container .row .column .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-environtment {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        margin: 10px 0;
    }

    .card-environtment .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-environtment .row img{
        width: 100px;
        height: auto;
        justify-content: center;
    }

    .left-environtment {
        display: flex;
        padding: 0 70px;
    }
    
    .right-environtment {
        display: flex;
        padding: 0 70px;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
        margin: 0;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    footer .container .column .row{
        display: flex;
        flex-direction: column;
    }

    .footer-item {
        display: flex;
        width: auto;
        height: auto;
        padding: 30px 50px;
        margin: 0;
    }
    
    .footer-item .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-item .content {
        margin-top: 20px;
        width: 300px;
        height: 40px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
        border-radius: 60px;
        overflow: hidden;
    }

}


